body{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(/assets/pexels-golden-jojo-2409601.jpg);
    background-size: cover;
    background-position: center;
    padding: 30px;
    padding-bottom: 30px;
    font-size: large;

}
.container{
    max-width: 600px;
    border: 1px solid #ced4da;
    margin: 10% auto 0;
    font-size:24px;
    color: #fff;
}
.container h1{
    color: #fff;
    font-style: italic;
    padding: 30px;
}
.radio-btn{
    margin: 0 20px;
}
.radio-btn .btn{
    margin: 20px 10px 20px 0;
    box-shadow: none;
}
.radio-btn .btn::after{
    content: '';
    height: 15px;
    width: 15px;
    top: -2px;
    left: -1px;
    background-color: #fff;
    position: relative;
    display: inline-block;
    border: 3px solid #fff;
    visibility: visible;
    border-radius: 50%;

}
.radio-btn .btn:checked::after{
    content: '';
    background-color: #000;
    transition: 0.5s;
}
.radio-btn span{
    color: #fff;
    margin-right: 5px;
    font-size: 24px;

}
.booking-form{
    margin: 20px 10px 20px 0
}
.booking-form label{
    margin-bottom: 5px;
    margin-top: 10px;
    font-size: 12px;
    color: #fff;

}
input::placeholder{
    color: #fff !important;
    font-size: 18px;
}
.input-grp{
    width: 150px;
    display: inline-block;
    margin: 20px 10px 20px 0;
}
.form-control{
    font-size: 18px !important;
    border-radius: 0 !important;
    margin: 20px 10px 20px 0;
    color: #fff !important;
    background: transparent !important;
    box-shadow: none !important;
}
.select-date::-webkit-inner-spin-button,
.select-date::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
}
.select-date::-webkit-calender-picker-indicator{
    background: transparent !important;
}
.custom-select{
    color: #fff !important;
    font-size: 24px !important;
    border: 1px solid blue ;
    box-shadow: none !important;
    border-radius: 0 !important;
    background: transparent !important;
}
.custom-select option
{
    color: blue;
    font-size: 24px;
}
.btn .btn-primary .cab{
    width: 100%;
    padding: 9px 0;
    border: 1px solid #ced4da !important;
    background: transparent !important;
    box-shadow: none !important;
    border-radius: 0 !important;
    position: relative;
    font-size: 25px;
}
.btn .btn-primary .cab:hover{
    background: #fff !important;
    color: rgb(0, 0, 0) !important;
    transition: 0.5s;
}